@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');


*{
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}

.hero {
	height: 100vh;
	width: 100%;
	background-color: black;
	background-size: cover;
	background-position: center;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
	padding-bottom: 45px;
}

.logo {
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
	text-decoration: none;
}

span {
	color: #f9004d;

}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;

}

nav ul li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}

nav ul li a:hover{
	color: #f9004d;
	transition: .4s;
}

.btn {
	background-color: #f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s;
}

.btn:hover{
	transform: scale(1.2);
}

.add_album{
	background: #191919;
	padding: 0 10px;
}

.wrapperr{
	max-width: 500px;
	width: 100%;
	background: #191919;
	margin: 20px auto;
	padding: 30px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
}

.wrapperr .title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 25px;
	color: white;
	text-transform: uppercase;
	text-align: center;
}

.wrapperr .form{
	width: 100%;
}

.wrapperr .form .input_field{
	margin-bottom: 15px;
	display: flex;
	align-items: center;
}

.wrapperr .form .input_field label{
	width: 200px;
	color: #191919;
	margin-right: 10px;
	font-size: 14px;
}

.wrapperr .form .input_field input{
	width: 100%;
	outline: none;
	border: 1px solid #f9004d;
	font-size: 15px;
	padding: 8px 10px;
	border-radius: 3px;
	transition: all 0.3s ease;
}

.wrapperr .form .input_field .textarea{
	width: 100%;
	outline: none;
	border: 1px solid #f9004d;
	font-size: 15px;
	padding: 8px 10px;
	border-radius: 3px;
	transition: all 0.3s ease;
}

.wrapperr .form .input_field .textarea{
	resize: none;
	height: 125px;
}

.wrapperr .form .input_field .author {
	position: relative;
	width: 100%;
	height: 37px;
}

.wrapperr .form .input_field .author select{
	border: #f9004d;
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
	height: 100%;
	padding: 8px 10px;
	border-radius: 3px;
	outline: none;
}

.wrapperr .form .input_field .author select:before{
	content: "";
	position: absolute;
	top: 12px;
	right: 10px;
	border: 8px solid;
	border-color: #f9004d transparent transparent transparent;
	pointer-events: none;
}

.wrapperr .form .input_field input:focus{
	border: 1px solid #f9004d;
}

.wrapperr .form .input_field .textarea:focus{
	border: 1px solid #f9004d;
}

.wrapperr .form .input_field select:focus{
	border: 1px solid #f9004d;
}

.wrapperr .form .input_field .btn {
	width: 100%;
	padding: 8px 10px;
	font-size: 15px;
	border: 0px;
	background-color: #f9004d;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
	outline: none;
	border: 1px solid #f9004d;
}

.wrapperr .form .input_field:last-child{
	margin-bottom: 0;
}

.wrapperr .form .input_field .btn:hover{
	background-color: #191919;
	border: 1px solid #f9004d;
	cursor: pointer;
	box-shadow: 0px 0px 5px #858585;
	transition: .4s;
}

@media (max-width: 420px){
	.wrapperr .form .input_field{
		flex-direction: column;
		align-items: flex-start;
	}
	.wrapperr .form .input_field{
		margin-bottom: 5px;
	}
}

