{% load static %}
<!DOCTYPE html>
<html>


<!-- Header -->
<head>
	<title>{{title}}</title>
  <link type="text/css" href="{% static 'songs/css/base.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'songs/images/logo.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
</head>
<body>
  <div class="hero">
      <nav>
        <a href="{% url 'home' %}" class="home_link"><h2 class="logo">Noti<span>fy</span></h2></a>
        <ul>
          <li><a href="{% url 'songs' %}">Songs</a></li>
          <li><a href="{% url 'authors' %}">Performers</a></li>
          <li><a href="{% url 'about' %}">About Us</a></li>
          <li><a href="{% url 'qr' %}">QR-code</a></li>
        </ul>
        <a href="{% url 'logout' %}"class="btn">Log Out</a>
      </nav>
      <div class="add_album">
        <div class="wrapperr">
          <div class="title">
            Post Adding
          </div>
          <div class="form">
            {% csrf_token %}
            <div class="input_field">
              <input type="text" name="title" id="id_title" placeholder="Title:" required>
            </div>
            <div class="input_field">
              <input type="text" name="slug" id="id_slug" placeholder="Slug:" required>
            </div>
            <div class="input_field">
                <textarea class="textarea" name="content" id="id_content" cols="60" rows="10" placeholder="Content:"></textarea>
            </div>
            <div class="input_fieldy">
                <input class="last_inp" type="file" id="id_photo" accept="image/*">
            </div>
            <div class="input_field">
                <select class="author" id="id_author"  required>
                  <option value="selected disabled">Choose author</option>
                  {% for author in authors %}
                    <option value="{{ author.id }}">{{ author.name }}</option>
                  {% endfor %}
                </select>
            </div>
            <div class="input_field">
                <select class="genre" id="id_genre"  required>
                  <option value="selected disabled">Choose genre</option>
                  {% for genre in genres %}
                    <option value="{{ genre.id }}">{{ genre.name }}</option>
                  {% endfor %}
                </select>
            </div>
            <div class="input_field">
                <select class="album" id="id_album"  required>
                  <option value="selected disabled">Choose album</option>
                  {% for album in albums %}
                    <option value="{{ album.id }}">{{ album.name }}</option>
                  {% endfor %}
                </select>
            </div>
            <div class="input_field">
                <label for="id_is_single">Is single:</label>
                <input type="checkbox" name="is_single" id="id_is_single">
            </div> 
            <div class="input_field input_fieldo">
                <label for="id_is_published">Is published:</label>
                <input type="checkbox" name="is_published" id="id_is_published">
            </div> 
            <div class="input_field">
              <input type="submit" class="btn" value="Add Post"></input>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>