{% extends 'songs/base.html' %}

{% block content %}
<ul class="list-articles">
	{% for al in albums %}
	<li>

		<div class="article-panel">
			<h2><p class="first">{{al.name}}</p></h2>
		</div>

		{% if al.photo %}
			<p><img class="img-article-left thumb" src="{{al.photo.url}}"></p>
		{% endif %}

		<div class="clear"></div>
		<p class="link-read-post">Про альбом : <a href="{{ al.get_absolute_url }}">{{al.name}}</a></p>
		<p class="link-read-post">Исполнитель : <a href="{{ al.author.get_absolute_url }}">{{al.author.name}}</a></p>
	</li>
	{% endfor %}
</ul>
{% endblock %}