{% load static %}
<!DOCTYPE html>
<html>

<!-- Header -->
<head>
  <title>Songs</title>
  <link type="text/css" href="{% static 'songs/css/base.css' %}" rel="stylesheet" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="{% static 'songs/images/logo.ico' %}" type="image/x-icon"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/
  font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>
<!-- end Header -->


<!-- Body -->
<body>
<!-- Mainmenu -->
<div class="hero_link">
  <nav class="nav_hero_link">
    <a href="{% url 'home' %}" class="home_link"><h2 class="logo">Noti<span>fy</span></h2></a>
    <ul>
      <li><a href="{% url 'songs' %}">Songs</a></li>
      <li><a href="{% url 'authors' %}">Performers</a></li>
      <li><a href="{% url 'about' %}">About Us</a></li>
      <li><a href="{% url 'qr' %}">QR-code</a></li>
    </ul>
    <a href="{% url 'logout' %}"class="btn">Log Out</a>
  </nav>
  <div class="mainnet_life">
    <ul class="list-articles">
      {% for p in posts %}
      <li>
        <div class="article-panel">
          <p class="first">Дата: {{p.time_update|date:"d-m-Y H:i:s"}}</p>
        </div>
        <div class="content-text">
    {% if p.photo %}
          <p><img class="img-article-left thumb" src="{{p.photo.url}}"></p>
    {% endif %}
          <div class="main">
            <div class="about-text">
              <h2 class="album-title">{{p.title}}</h2>
              <div class="p-content-text">
                {% autoescape on %}
                {{p.content|linebreaks|truncatewords:50}}
                {% endautoescape %}
              </div>
              <div class="clear"></div>
              <a href="{{ p.get_absolute_url }}" class="link-read-post">Read Post</a>
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="contact-me">
    {% if page_obj.has_other_pages %}
      <nav class="list-pages">
        <ul>
    {% if page_obj.has_previous %}
          <li class="page-num">
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
          </li>
    {% endif %}
    {% for p in paginator.page_range %}
    {% if page_obj.number == p %}
          <li class="page-num page-num-selected">{{ p }}</li>
    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
          <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
          </li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
          <li class="page-num">
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
          </li>
    {% endif %}
        </ul>
      </nav>
    {% endif %}
	</div>
</div>

</body>
