{% extends 'songs/base.html' %}

{% block content %}

<h3>
    Сайт, созданный в рамках учебного проекта и самообучения двумя школьниками из Бедаруси (в нынешний момент один из Польши).
    Идея создать сайт и бэкэнд написанный на Django принадлежат 
    <a href="https://instagram.com/bogdan.sokolnikov?igshid=NGExMmI2YTkyZg=="><span>Богдану</span></a>.
    А дизайн сайта и фронтенд написаны 
    <a href="https://instagram.com/fklghdio?igshid=MmJiY2I4NDBkZg=="><span>Фёдором</span></a>.
</h3>


{% endblock %}
