{% load static %}
<!DOCTYPE html>
<html>

<!-- Header -->
<head>
  <title>{{title}}</title>
  <link type="text/css" href="{% static 'songs/css/base.css' %}" rel="stylesheet" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="{% static 'songs/images/logo.ico' %}" type="image/x-icon"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/
  font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>
<!-- end Header -->


<!-- Body -->
<body>
<!-- Mainmenu -->
<div class="hero_link">
  <nav class="nav_hero_link">
    <a href="{% url 'home' %}" class="home_link"><h2 class="logo">Noti<span>fy</span></h2></a>
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'authors' %}">Performers</a></li>
      <li><a href="{% url 'about' %}">About Us</a></li>
      <li><a href="{% url 'qr' %}">QR-code</a></li>
    </ul>
    <a href="{% url 'logout' %}"class="btn">Log Out</a>
  </nav>


<!-- Content -->
<div class="content-text">
    {% block content %}
    {% endblock %}
</div>

<div class="service">
  <div class="title">
    <h2>Our Services</h2>
  </div>
  <div class="box">
    <div class="card">
      <i class="fa-solid fa-record-vinyl"></i>
      <h5>Add Album</h5>
      <div class="pra">
        <p>Add your favourite album and discuss it with friends, family or whoever you want.
          Dont forget to recommend us, enjoy.
        </p>
        <p style="text-align: center;">
          <a href="{% url 'add_album' %}" class="button">Add</a>
        </p>
      </div>
    </div>
    <div class="card">
      <i class="fa-solid fa-user"></i>
      <h5>Add Performer</h5>
      <div class="pra">
        <p>Add a performer that is not yet written on our site.
        </p>
        <p style="text-align: center;">
          <a href="{% url 'add_author' %}" class="button">Add</a>
        </p>
      </div>
    </div>
    <div class="card">
      <i class="fa-solid fa-pen-to-square"></i>
      <h5>Add Post</h5>
      <div class="pra">
        <p>Add post about music you like, tell about it, why you like it and why.
          Dont forget that you also can discuss it with somebody. Have fun.
        </p>
        <p style="text-align: center;">
          <a href="{% url 'add_page' %}" class="button">Add</a>
        </p>
      </div>
    </div>
  </div>
</div>


<footer>
  <p>Our accounts on GitHub</p>
  <a href="https://github.com/federal2202"><span>@federal2202</span></a>
  <a href="https://github.com/CapitainFan"><span>@CapitainFan</span></a>
</footer>


<script src="https://kit.fontawesome.com/6186d4ea10.js" crossorigin="anonymous"></script>
</body>
</html>
<!-- end Body -->